{% extends 'base.html' %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
    <h1 style="background-color: darksalmon; letter-spacing: 5px;">About Page using Jinja!</h1>
    <div class="photos">
        <img src="https://picsum.photos/600/300" alt="Picsum Random Photo">
        <img src="{% static 'images/external-img.jpg' %}" alt="Internal Image">
    </div>
    <p class="custom-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente cum
{% endblock %}

{% block js %}
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}