<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'homeTwo' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% if user.is_authenticated %}
                    <!-- Insert right here the views that are for logged in users  This has to be a form!! logout has to be a post method -->
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="submit" class="nav-link btn btn-link" value="Log Out">
                        </form>
                    </li>
                {% else %}
                    <!-- Insert right here the views for regular users -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <div class="d-flex" style = "margin-right : 20px;">
                <span class="badge text-bg-info">{{ user.username }}</span>
            </div>
            {% endif %}
        </div>
    </div>
</nav>